html{
    background-color: transparent;
}

@font-face {
    font-family: 'distant_galaxyregular';
    src: url('../fonts/DISTGRG_-webfont.eot');
    src: url('../fonts/DISTGRG_-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DISTGRG_-webfont.woff') format('woff'),
    url('../fonts/DISTGRG_-webfont.ttf') format('truetype'),
    url('../fonts/DISTGRG_-webfont.svg#distant_galaxyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
    margin: 0;
    padding: 0;
    cursor:  url(../cursor-default.png) 5 1, auto;
}
html, body, #game, .status-menu {
    width: 100%;
    height: 100%;
}
body {
    font-family: distant_galaxyregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #fff;
    background-color: transparent;
    background-image: url(house.jpg);
}
a, .btn, a * {
    cursor:  url(../cursor-active.png) 5 1, auto;
}
a:hover {
    text-decoration: none;
}
.modal {
    color: #222222;
}
#game {
    position: absolute;
    top:0;
    left:0;
    z-index:0;
}
.game-ui {
    z-index: 1;
}
.level {
    text-align: center;
}
.loading-container {
    display: none;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    height: 22px;
}
.loading-container #loading {
    position: absolute;
    left: 0;
    font-size: 12px;
    line-height: 22px;
    padding-left: 5px;
    color: #fff;
    background-color: rgba(255,0,0, .7);
    border-top: 1px solid #ff0000;
    height: 100%;
}
.key-code {
    font-style: normal;
}
.key-code:before {
    content: "[";
}
.key-code:after {
    content: "]";
}
.inline {
    display: inline-block;
}
.top-buffer {
    margin-top: 20px;
}
.bottom-buffer {
    margin-bottom: 20px;
}
.game-stat {
    position: relative;
    border: 5px solid #fff;
    border-right-color: #b9b9b9;
    border-bottom-color: #8f8f8f;
    background-color: #eee;
    box-shadow: 0 0 1px #000;
    color: #000;
    border-radius: 15px;
}
.overlay {
    position: absolute;
    width: 100%;
}
.overlay-black {
    background-color: rgba(0,0,0,.5);
    color: #fff;
}
.insufficient {
    font-weight: bold;
    color: #f00;
}
.bottom {
    bottom: 0;
}
#build-menu a {
    display: inline-block;
    margin-right: 20px;
}
#build-menu img {
    width: 64px;
}

.progress {
    margin: 0;
}

/* Animations */
@keyframes slide-up {
    0% {
        opacity: 1;
        transform: translateY(100%);
    }

    80% {
        opacity: .8;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes slide-up {
     0% {
         opacity: 0;
         transform: translateY(100%);
     }

    80% {
        opacity: .8;
        transform: translateY(-10%);
    }

     100% {
         opacity: 1;
         transform: translateY(0);
     }
 }

.slide-up {
    animation-name: slide-up;
    animation-duration: .3s;
    animation-fill-mode: both;

    -webkit-animation-name: slide-up;
    -webkit-animation-duration: .3s;
    -webkit-animation-fill-mode: both;
}


@keyframes slide-down {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    20% {
        opacity: .8;
        transform: translateY(-10%);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}
@-webkit-keyframes slide-down {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    20% {
        opacity: .8;
        transform: translateY(-10%);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

.slide-down {
    animation-name: slide-down;
    animation-duration: .3s;
    animation-fill-mode: both;

    -webkit-animation-name: slide-down;
    -webkit-animation-duration: .3s;
    -webkit-animation-fill-mode: both;
}


.tooltipgame {
}

.tooltipgame .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    transition: opacity 1s;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.tooltipgame .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltipgame:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

li.a {
    list-style-image: url('grain.png');
}

li.b {
    list-style-image: url('stone.png');
}

li.c {
    list-style-image: url('lumber.png');
}

/* Instruction popup */

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
	white-space: pre-wrap;
    width: 270px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -20px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*enough resources notification*/

.popupBoxStyle{
    top: 0; left: 0; position: fixed; width: 100%; height: 120%;
    background-color: rgba(85,85,85,0.4); display: none;
}

.popupBoxWrapper{
    width: 550px;
    margin: 50px auto;
    text-align: left;
    opacity: 0.9;
    border: 5px solid #fff;
    border-right-color: #b9b9b9;
    border-bottom-color: #8f8f8f;
    background-color: #eee;
    box-shadow: 0 0 1px #000;
    color: #000;
    border-radius: 15px;
}

.popupBoxContent{
    text-align: center;
    background-color: #C0C0C0;
    padding: 15px;
}